.fade-in {
  &-enter-active {
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-enter {
    opacity: 0;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}
