{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuildIns": true,
        "targets": {
          "browsers": ["Chrome >= 61"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
