@include b(result) {
  --panel-width: 550px;

  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-flow: column;
  max-width: var(--panel-width);
  min-width: var(--panel-width);
  padding: 15px 25px 25px;
  color: #111;
  background: #fff;
  border-radius: 6px;
  contain: layout;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 12px 45px 0 rgba(0, 0, 0, 0.12);

  @include when(dialog) {
    --panel-width: 650px;

    position: relative;
    margin: auto;
    box-shadow: 0 0 0 50vw rgba(0, 0, 0, 0.4), 0 2px 28px 0 rgba(137, 137, 137, 0.67);

    @include e(word) {
      font-size: 25px;
    }

    @include e(english eg) {
      font-size: 17px;
    }
  }

  * {
    box-sizing: border-box;
  }

  @include m(invisible) {
    opacity: 0;
  }

  @include e(origin) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 10px;
  }

  @include e(word) {
    display: -webkit-box;
    font-weight: bold;
    flex-shrink: 0;
    max-width: 100%;
    font-size: 18px;
    overflow: hidden;
    margin: 0;
    user-select: none;
    margin-right: 20px;
    line-height: normal;
    text-overflow: ellipsis;
    word-break: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include font-old;

    @include m(sentence) {
      font-size: 16px;
    }
  }

  @include e(pronunciation) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }

  @include e(flag) {
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 center;

    @include m(uk) {
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/uk.png');
    }

    @include m(usa) {
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/usa.png');
    }
  }

  @include e(phonetic) {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    @include font-kai;
  }

  @include e(audio) {
    display: none;
  }

  @include e(star) {
    position: absolute !important;
    top: 15px;
    cursor: pointer;
    right: 15px;

    @include m(ed) {
      color: mix($primary, white, 80);
    }
  }

  @include e(oxford) {
    margin-right: -25px;
    margin-bottom: 4px;
    padding-right: 25px;
    flex-grow: 1;
    overflow-y: auto;
    @include scroll-bar;

    @include spec-selector('+', simple) {
      margin-top: 10px;
    }
  }

  @include e(class) {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include e(type) {
    @include font-old;
    width: 38px;
    white-space: nowrap;
    padding-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }

  @include e('item-wrap') {
    flex-basis: 100%;
  }

  @include e(item) {
    position: relative;
    display: flex;
    flex-basis: 100%;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
    @include font-kai;
    margin-left: -10px;
    padding-left: 10px;

    &:hover {
      background: rgba(200, 200, 200, 0.1);
    }

    &:not(:last-child) {
      padding-bottom: 10px;
      margin-bottom: 8px;
    }

    &::after {
      line-height: 12px;
    }

    @for $i from 1 through 3 {
      @include m($i) {
        &:nth-child(n + #{$i + 1}) {
          display: none;
        }

        &:nth-of-type(#{$i}):not(:last-of-type) {
          &::after {
            content: '...';
          }
        }
      }
    }
  }

  @include e(english) {
    line-height: 1.2;
    font-size: 15px;
    padding-right: 10px;
  }

  @include e(chinese) {
    font-size: 13px;
    @include font-kai;

    @include m(simple) {
      font-size: 16px;
    }

    @include m(brief) {
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @include e(eg) {
    width: 100%;
    line-height: 1.1;
    color: $accent;
  }

  @include e(more) {
    --button-color: #ccc;
    --line-color: #eee;

    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 16px;
    margin-bottom: 12px;
    padding: 7px 0 8px;
    color: #ddd;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--line-color);
    }

    &:hover {
      --button-color: #333;
      --line-color: #ccc;
    }
  }

  @include e('more-button') {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 5px #fff;

    &::after {
      content: '';
      margin: auto;
      display: block;
      width: 6px;
      height: 6px;
      border-color: transparent var(--button-color) var(--button-color) transparent;
      border-width: 1px;
      border-style: solid;
      transform: rotate(45deg) txy(-1px, -1px);
    }

    @include m(expanded) {
      &::after {
        transform: rotate(225deg) txy(-1px, -1px);
      }
    }
  }
}
