@font-face {
  font-family: 'old-style';
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Lowan-Old-Style.ttf') format('truetype');
  unicode-range: U + 0-7f, U + A0, U + 200a, U + 2014, U + 2018, U + 2019, U + 201c, U + 201d,
    U + 2022, U + 2026;
}

@font-face {
  font-family: '__icon';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/iconfont.ttf') format('truetype');
}

.__icon.__icon {
  font-family: '__icon';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.__icon-shanchu:before {
  content: '\e622';
}

.__icon-vocabulary:before {
  content: '\e607';
}

.__icon-mao:before {
  content: '\e60a';
}

.__icon-shanbay:before {
  content: '\e76f';
}

.__icon-setting:before {
  content: '\e63b';
}

.__icon-play:before {
  content: '\e600';
}

.__icon-star-solid:before {
  content: '\e601';
}

.__icon-star:before {
  content: '\e602';
}

.__icon-search:before {
  content: '\e603';
}

.__icon-ref:before {
  content: '\e604';
}

.__icon-git:before {
  content: '\e605';
}

.__icon-paw:before {
  content: '\e606';
}

.__icon-youdao:before {
  content: '\e69f';
}
