@import 'core/mixin';
@import 'core/transition';

@import 'font';
@import 'tooltip';
@import 'switch';

body,
html {
  margin: 0;
  padding: 0;
}

@include b(popup, '') {
  width: 350px;
  padding-bottom: 15px;

  @include e(banner) {
    content: url('chrome-extension://__MSG_@@extension_id__/assets/banner.svg');
    margin-bottom: 30px;
  }

  @include e(item) {
    display: flex;
    width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
    padding: 18px 30px;
    margin-bottom: 15px;
    background: #ffffff;
    color: #555;
    box-shadow: 0 17px 37px -12px rgba(44, 37, 195, 0.24);
    border-radius: 13px;
  }

  @include e(label) {
    font-size: 14px;
    flex-grow: 1;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
  }

  @include e(link) {
    text-decoration: none;
    color: #444;
    cursor: pointer;
  }

  @include e(button) {
    box-sizing: border-box;
    margin: 40px auto 20px;
    width: 312px;
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
    background: $primary;
    color: #fff;
    box-shadow: 0 27px 19px -15px rgba(26, 48, 215, 0.57);
    border-radius: 100px;
    @include paw;

    .__icon {
      margin-right: 5px;
      font-size: 14px;
    }
  }
}
