@include b(side, '') {
  position: fixed;
  z-index: 10;
  left: 20px;
  top: 20px;
  bottom: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #FFFFFF;
  padding-top: 20px;
  box-shadow: 0 2px 22px 0 rgba(15,35,95,0.11);
  border-radius: 35% / 3.3%;

  @include e(logo) {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: #FF8F29;
    box-shadow: 0 25px 23px -12px rgba(255,143,41,0.67);
  }

  @include e(menu) {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include e(link) {
    color: #F41E1E;
    padding: 0 20px;

    @include when(active) {
      box-shadow: 10px 0 0 -4px currentColor inset;
    }
  }
}